<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nyzz.x3.mapper.MessagesMapper">
  <resultMap id="BaseResultMap" type="org.nyzz.x3.entity.Messages">
    <!--@mbg.generated-->
    <!--@Table messages-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="sender" jdbcType="OTHER" property="senderEnum" />
    <result column="message" jdbcType="LONGVARCHAR" property="message" />
    <result column="timestamp" jdbcType="TIMESTAMP" property="timestamp" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, sender, message, `timestamp`
  </sql>
</mapper>